body{
    background-color: #9cd6d642;
}
.cajas {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    
}

/* Estilos Diagramas UML */

.alto-250{
height: 16rem;
}

.botones{
    margin: 2rem 0 2rem 0;
}
/* Modal */
.texto-modal{
    text-align: justify;
    margin: auto;
    width: 80%;
    border: solid;
    border-color: #e5e5e5;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.card-header{
    cursor: pointer;
}

.no-decoration{
    text-decoration: none!important;
}

.card{
    color: black;
}

.card-body{
    background: linear-gradient(101deg, rgba(183, 205, 202, 0.15) 35%, rgba(116, 194, 185, 0.4) 100%)
}

.opacity{
   background: linear-gradient(101deg, rgba(183, 205, 202, 0.15) 35%, rgba(116, 194, 185, 0.4) 100%)
}

.imagen{
    height: 22rem;
    overflow: hidden;
}

.alto_login{
    height: 30rem;
    object-fit: scale-down;
}

.fw-500{
    font-size: x-large;
    font-weight: 500;
}

.centrar{
    display: block;
    text-align: center;
}

.altura_card{
    height: 100%;
}

.centrar-boton{
    display: block!important;
    align-items: center!important;
    margin-left: 37%;
    width: 25%;
}

.tittle-color{
    font-family: monospace;
    color: black;
}